ul,
li,
ol,
a {
  margin: 0;
  padding: 0;
  list-style: none;
}
.focus-r {
  position: relative;
  /* top: 100px; */
  /* margin: 150px auto; */
  overflow: hidden;
  width: 540px;
  height: 200px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  margin-left: 25px;
}
.focus-r > div {
  width: 30px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  color: #d8d8d8;
  background-color: rgba(218, 210, 214, 0.8);
  border-radius: 15px;
}
.focus-r .btn-ll {
  position: absolute;
  left: 5px;
  top: 45%;
  /* 定义一个按钮样式，鼠标放上去会变成手指 */
  cursor: pointer;
}
.focus-r .btn-rl {
  position: absolute;
  right: 5px;
  top: 45%;
  cursor: pointer;
}
.focus-r .no1,
.no2,
.no3,
.no4,
.no5,
.no6,
.no7,
.no8 {
  margin-left: 20px;
  margin-top: 20px;
  width: 180px;
  height: 180px;
  border: rgb(235, 235, 235) solid 3px;
  border-radius: 15px;
  background-color: rgb(255, 255, 255);
  box-shadow: 2px 2px 5px 1px rgb(225, 224, 224);
}

.focus-r ul {
  position: absolute;
  top: -9px;
  width: 600%;
}
.focus-r ul li {
  float: left;
}

.focus-r ol {
  position: absolute;
  left: 40%;
  bottom: 15px;
  /* background-color: rgb(221, 216, 216, 0.5); */
  border-radius: 15px;
}
