ul,
li,
ol,
a {
  margin: 0;
  padding: 0;
  list-style: none;
}
.focus {
  position: relative;
  overflow: hidden;
  width: 290px;
  height: 160px;
  /* margin: 200px auto; */
  background-color: pink;
  /* box-shadow: 7px 7px 3px 2px rgb(160, 157, 157); */
  border-radius: 8px;
}
.focus > div {
  width: 30px;
  height: 30px;
  text-align: center;
  align-items: center;
  line-height: 30px;
  color: #fff;
  background-color: rgba(218, 210, 214, 0.8);
  border-radius: 15px;
}
.focus .btn-l {
  position: absolute;
  left: 5px;
  top: 40%;
}
.focus .btn-r {
  position: absolute;
  right: 5px;
  top: 40%;
}
.focus img {
  width: 290px;
  height: 160px;
  border-radius: 8px;
}
.focus ul {
  position: absolute;
  width: 600%;
}
.focus ul li {
  float: left;
}
.focus ol {
  position: absolute;
  left: 37%;
  bottom: 0px;
  /* background-color: rgb(221, 216, 216, 0.5); */
  border-radius: 15px;
}
.focus ol li {
  float: left;
  width: 10px;
  height: 10px;
  margin: 6px;
  background-color: rgba(218, 210, 214, 0.8);
  border: 1px solid rgb(221, 216, 216, 0.5);
  border-radius: 5px;
}
.focus ol .current {
  background-color: rgba(255, 255, 255, 0.8);
}
